body {
  background: #F5F6F7;
}

.container {
  margin-top: 30px;
}

.header-segment {
  background-image: url("https://images.unsplash.com/photo-1510851896000-498520af2236?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80") !important;
  background-size: cover !important;
  padding: 50px 0 !important;
  height: 500px;
}

.header-text {
  color: white !important;
}

.header-akira {
  color: #FF5E5E !important;  
}